extends layout

block content
  h1= title
  form(method="post" novalidate role="form")
    fieldset
    legend Flying schedule
    div(class="form-group")
      label(for="name") Name:
      input(type='text' class="form-control" id="name" name="name" value=flyingSchedule.name placeholder="Enter flying schedule name" required)
    div(class="form-group")
      label(for="description") Description:
      input(type='textbox' class="form-control" id="description" name="description" value=flyingSchedule.description placeholder="Enter flying schedule description" required)
    div(class="row")
    - if (!flyingSchedule.isNew)
      div(class="col-sm-6")
        button(type="submit" class="btn btn-default" formaction=flyingSchedule.deleteAction)
          span.glyphicon.glyphicon-remove-circle  Delete
    div(class="col-sm-6")
      button(type="submit" class="btn btn-primary" formaction=flyingSchedule.saveAction)
        span.glyphicon.glyphicon-ok-circle  Save
        
  if (flyingSchedule.manoeuvres)
    table(class="table table-bordered table-hover")
      caption Manoeuvres
      tr
        th #
        th Name
        th Description
        th K-Factor
        th Action
      each manoeuvre, index in flyingSchedule.manoeuvres
        tr
          th #{index+1}
          td 
            a(href=manoeuvre.url) #{manoeuvre.name}
          td #{manoeuvre.description}
          td #{manoeuvre.k_factor}
          td
            a(href=manoeuvre.deleteAction) Delete
            
  div
    a(href=flyingSchedule.addManoeuvreAction class="btn btn-primary" role="button")
      span.glyphicon.glyphicon-ok-circle  Add manoeuvre