extends layout

block content
  h1= title
  form(method="post" novalidate role="form")
    fieldset
    legend Flying schedule
    div(class="form-group")
      label(for="name") Name:
      input(type='text' class="form-control" id="name" name="name" value=flyingSchedule.name placeholder="Enter flying schedule name" required)
    div(class="form-group")
      label(for="description") Description:
      input(type='textbox' class="form-control" id="description" name="description" value=flyingSchedule.description placeholder="Enter flying schedule description" required)
    div(class="row")
    - if (!isNew)
      div(class="col-sm-6")
        button(type="submit" class="btn btn-default" formaction=deleteAction)
          span.glyphicon.glyphicon-remove-circle  Delete
    div(class="col-sm-6")
      button(type="submit" class="btn btn-primary" formaction=saveAction)
        span.glyphicon.glyphicon-ok-circle  Save
  div
    form(method="post", action=addManoeuvreAction role="form")
      fieldset
      legend Add manoeuvre
      div(class="form-group")
        label(for="name") Name:
        input(type='textbox' class="form-control" id="name" name="name" placeholder="Enter manoeuvre name" required)
      div(class="form-group")
        label(for="description") Description:
        input(type='textbox' class="form-control" id="description" name="description" placeholder="Enter manoeuvre description" required)
      div(class="form-group")
        label(for="kFactor") K-Factor:
        input(type='number' class="form-control" id="kFactor" name="kFactor" placeholder="Enter manoeuvre K-Factor" required)
      div
        input(type="submit", value="Add")